@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #C11B22;
  --primary-foreground: #ffffff;

  --secondary: #A7A9AC;
  --secondary-foreground: #171717;

  --accent: #E5E7EB;
  --accent-foreground: #171717;

  --muted: #F3F4F6;
  --muted-foreground: #6B7280;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    @apply border-gray-200;
  }
}